<% if logged_in? %>
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <% if @activities.any? %>
        <%= render @activities %>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="center jumbotron">
    <%= link_to t("static_pages.home.signup"),
      signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
