<h1><%= t "static_pages.home.title" %></h1>
<div class="center jumbotron">
  <%= link_to t("static_pages.home.signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div class="row">
  <ul>
    <%= render @books %>
  </ul>
</div>
<%= will_paginate @books %>
