<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user, width: 100, height: 100 %>
        <%= @user.fullname %>
      </h1>
    </section>
    <section class="stats">
      <%= render "shared/stats" %>
    </section>
    <% if logged_in? %>
      <% unless current_user.is_admin? %>
        <%= render "follow_form" %>
      <% end%>
    <% end %>
  </aside>
</div>

