<div class="ratings" id="ratings_<%= review.id %>">
  <p>
    <% (0...review.rated).each do |i| %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% (review.rated...5).each do |i| %>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
  </p>
</div>
