<div class="ratings" id="ratings_<%= @book.id %>">
  <p><%= @book.reviews.count %> <%= t "reviews.title" %></p>
  <p>
    <%= @book.rated.round 2 %>
    <% (0...@book.rated.to_i).each do |i| %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% (@book.rated.to_i...5).each do |i| %>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
  </p>
</div>
