<% @user ||= current_user %>
<div class="stats">
  <strong id="following" class="stat">
    <%= @user.following.count %>
  </strong>
  <%= t "layouts.stats.following" %>
  <strong id="followers" class="stat">
    <%= @user.followers.count %>
  </strong>
  <%= t "layouts.stats.followers" %>
</div>
